/*media queries*/

@media (max-width: 1125px) {
  .story {
    width: 58%;
    transition: all 0.5s;
  }
  .section2 {
    width: 45%;
    transition: all 0.5s;
  }
}

@media (max-width: 922px) {
  .play {
    margin-top: 61px;
    left: 39%;
  }
  .notADevInner {
    font-size: 1.2rem;
    left: 0;
    width: 100%;
  }

  .notADevInner {
    right: 36%;
    top: -35px;
  }
}

@media (max-width: 867px) {
  .story {
    width: 82%;
    transition: all 0.5s;
  }
}

@media (max-width: 746px) {
  .giggles {
    text-align: center;
  }

  .notADeveloper {
    font-size: 3.6rem;
  }

  .section3 h2 {
    margin-top: 50px;
  }

  .section2 {
    margin-top: 35px;
    width: 60%;
    transition: all 0.5s;
  }

  .inputDevelopers {
    width: 73%;
    right: 13%;
  }

  .section4 {
    width: 80%;
    transition: all 0.5s;
  }
}

@media (max-width: 602px) {
  .giggles {
    font-size: 3.2rem;
  }

  .gigglesButton {
    font-size: 1.4rem;
  }

  .titleMain {
    font-size: 4rem;
  }

  .section2 h2,
  .section3 h2 {
    font-size: 3rem;
  }

  .fillWords input {
    width: 80%;
    transition: all 0.5s;
  }

  .buttonSection3 {
    width: 34%;
    right: 34%;
    margin: 0;
  }

  .play {
    left: 35%;
  }
  .story {
    margin-top: 70px;
    transition: all 0.5s;
  }
}

@media (max-width: 500px) {
  .giggles {
    font-size: 2.8rem;
  }

  .gigglesButton {
    font-size: 1.4rem;
  }

  .buttonSection2 {
    width: 56%;
  }

  .section2 {
    width: 88%;
    transition: all 0.5s;
  }

  .section2 h2 {
    margin-top: 30px;
  }

  .section4 {
    transition: all 0.5s;
  }

  .titleForm {
    font-size: 2rem;
  }

  .story {
    margin-top: 45px;
    transition: all 0.5s;
  }

  .subHeading {
    font-size: 2rem;
  }
}

@media (max-width: 444px) {
  .notADevInner {
    top: 28px;
  }

  .giggles {
    font-size: 2.4rem;
  }

  .titleMain {
    font-size: 3rem;
    line-height: 57px;
  }

  .titleForm {
    font-size: 1.9rem;
  }
  .play {
    left: 29%;
    top: 38%;
    font-size: 1.2rem;
  }

  .story,
  .back {
    font-size: 1.2rem;
  }

  .section2 {
    margin-top: 15px;
  }

  .section3 h2 {
    font-size: 2.3rem;
  }

  .fillWords {
    margin-top: 30px;
    transition: all 0.5s;
  }

  .again {
    width: 67%;
    left: 17%;
  }

  .poisonLabel {
    bottom: 2px;
  }

  .section4 {
    margin-top: 50px;
    transition: all 0.5s;
  }
}

@media (max-width: 355px) {
  .giggles {
    font-size: 2rem;
  }
}
