/*Section two, pick your poison*/
.poisonForm {
  display: flex;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 22px 0 20px 0;
  flex-direction: column;
}

.section2 {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
}

.section2 h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

.buttonSection2,
.buttonSection3 {
  border: none;
  margin-left: 21px;
  padding: 8px 18px 8px 18px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-right: 16px;
}

.buttonSection2 {
  margin: 0 auto;
}

.buttonSection2:hover,
.gigglesButton:hover {
  color: black;
  background-color: #1da81d;
  border-radius: 15px;
  transition: all 0.5s;
}

.buttonSection2:focus {
  border: 1px solid #1da81d;
}

input[type="radio"] {
  vertical-align: middle;
  margin: 0;
  background-color: white;
  margin-left: 5px;
  margin-right: 10px;
  opacity: 0;
}

.poisonLabel {
  margin-left: 10px;
  font-size: 1.7rem;
  margin-bottom: 21px;
}

input[type="radio"],
.poisonLabel {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -27px;
  bottom: 7px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0px 4px #1da81d;
}

input[type="radio"] + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: -25px;
  bottom: 8px;
  width: 34px;
  height: 22px;
  background-color: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  background-image: url(../../assets/check-solid.svg);
  background-repeat: no-repeat;
}

input[type="radio"]:focus + label::before {
  box-shadow: 0 0px 5px black;
}
