/*Not a developer landing page*/

.background {
  background-image: url(../assets/darkness.png);
}
.notADeveloper {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 5rem;
  text-align: center;
}

.notADeveloper a {
  text-decoration: none;
  color: white;
  animation: bounce 2.5s ease-in-out, opacity 1.5s;
}

.gigglesButton:hover {
  background-color: white;
}

.gigglesButton {
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  padding: 10px 8px 10px 9px;
  letter-spacing: 2px;
  font-weight: bold;
  animation: opacity 1.7s;
  background-color: $noDevAccentColor;
  color: white;
}

.gigglesButton:focus {
  border: 1px white solid;
}
